.categoriesSection {
  display: flex;
  justify-content: center;
  background-color: #160c20;
}

.categoriesList {
  max-width: 1024px;
  padding: 145px 0 182px 0;
  list-style: none;
  gap: 159px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

.categoryImage {
  /* width: 343px; */
  width: 1200px;
  position: relative;
  /* height: 249px; */
  height: 592px;
  object-fit: cover;
}

.categoryItem:nth-child(even) .categoryLink {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  align-items: flex-end;
  /* margin: 0 0 54px 54px; */
}

.categoryItem:nth-child(odd) .categoryLink {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  align-items: flex-start;
}

.categoryTitle {
  position: absolute;
  z-index: 22;
  color: white;
  font-size: var(--font-size-main);
  font-weight: var(--font-weight-main);
  font-family: var(--Inter);
  /* margin-bottom: 27px; */
  padding: 54px;
}

@media (max-width: 765px) {
  .categoriesList {
    gap: 50px;
    padding: 86px 0 64px 0;
  }
  .categoryImage {
    max-width: 304px;
  }
}
