footer {
  background-color: #1c1829;
  color: white;
  font-family: var(--Inter);
  margin: 0 auto;
}

.topStripe {
  background-color: #2b3e56;
  height: 53px;
  width: 100%;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  padding: 28px clamp(20px, 5vw, 51px) 60px clamp(20px, 5vw, 50px);
  max-width: 1024px;
  margin: 0 auto;
  align-items: flex-end;
}

.footerLeft {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.footerLogo {
  width: 195px;
}

.footerLinks {
  font-family: var(--Inter);
  list-style: none;
  font-size: 16px;
}
.footerIcons {
  display: flex;
  gap: 20px;
  list-style: none;
}
.footerLinks li {
  margin-bottom: 8px;
}

.footerLinks li a {
  text-decoration: none;
  color: white;
}

.footerCenter {
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  /* this is kindly bad */
  margin: 0px 0 43px 136px;
  /* this is kindly bad */
}

.contactButton {
  font-size: clamp(21px, 5vw, 32px);
  background-color: #cbd8e2;
  color: #1c1829;
  font-weight: bold;
  border: none;
}

.bottomStripe {
  background-color: #2b3e56;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomStripe p {
  font-weight: var(--font-weight-secondary);
  font-size: var(--font-size-xs);
  color: #fff;
}

.contactButton[disabled] {
  color: white;
  background-color: #557289;
}
.contactButton:hover {
  background-color: #9cb2c3;
}
@media (max-width: 765px) {
  .footerLeft {
    display: block;
  }
  .footerLeft .footerLinks li {
    margin-top: 20px;
  }
  .footerIcons img {
    width: 30px;
    height: 27px;
  }
  .contactButton {
    display: none;
  }
  .footerCenter {
    /* this is kindly bad */
    margin: 0px 0 187px 0;
    /* this is kindly bad */
  }
}

@media (max-width: 572px) {
  .bottomBar {
    display: block;
  }
}
