.immoTonnContentSection {
  max-width: 1200px;
  margin: 0 auto 20px auto;
  padding: 20px 0 152px;
  display: grid;
  grid-template-columns: 1fr 2px 2fr;
  gap: 65px;
  align-items: flex-end;
}

.immoTonnLeftSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.immoTonnBigPhrase {
  font-weight: 800;
  font-size: var(--font-size-main);
  font-family: var(--Roboto);
  color: #000;
  text-align: center;
}

.immoTonnLine {
  background: #000;
  width: 1px;
  height: 537px;
}

.immoTonnTextList {
  list-style: none;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.immoTonnTextListItemWrapper {
  margin-bottom: 15px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.immoTonnTextH4 {
  font-family: var(--Roboto);
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 5px;
  letter-spacing: 0.1em;
}

.immoTonnTextP {
  font-family: var(--Roboto);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.salesSupportButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1829;
  font-family: var(--Roboto);
  width: 622px;
  height: 85px;
  font-weight: 400;
  font-size: 32px;
  color: #fcfdff;
}

@media (max-width: 765px) {
  .immoTonnContentSection {
    grid-template-columns: auto 1fr;
    gap: 20px;
    padding: 10px;
  }

  .immoTonnBigPhrase {
    font-size: 1.4em;
  }

  .immoTonnTextH4 {
    font-size: 1.1em;
  }

  .immoTonnTextP {
    font-size: 0.85em;
    line-height: 1.6;
  }
}

@media (max-width: 576px) {
  .immoTonnContentSection {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px 0;
  }

  .immoTonnTextList {
    text-align: left;
  }

  .immoTonnLine {
    height: 1px;
    width: 464px;
  }

  .immoTonnBigPhrase {
    font-size: 48px;
    text-align: left;
  }

  .immoTonnTextH4 {
    font-size: 1em;
    text-align: center;
  }

  .immoTonnTextP {
    font-size: 0.8em;
    line-height: 1.6;
    text-align: center;
  }
  .immoTonnTextH4 {
    text-align: left;
  }
  .immoTonnTextP {
    text-align: left;
  }
}
