header {
  background-color: #1c1829;
  color: white;
  font-family: 'Inter', sans-serif;
  height: 329px;
}

.headerTop {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.headerLogo img {
  object-fit: contain;
  display: block;
  border: none;
}

.headerLogo img {
  width: 328px;
  height: auto;
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  box-sizing: border-box;
}

.headerMainRight {
  display: flex;
  flex-direction: column;
}

.headerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

.headerContacts {
  align-items: center;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  list-style: none;
  line-height: 24px;
  padding-top: 30px;
}

.headerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 90px;
}

.headerNav ul {
  display: flex;
  gap: 15px;
  list-style: none;
  padding-right: 30px;
}
.headerNav ul li {
  padding-bottom: 60px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #d9d9d9;
}

.headerNav a,
.headerNav a:visited,
.headerNav a.active {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #d9d9d9;
  text-decoration: none;
  background: transparent;
}

.headerContacts li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.headerContacts .icon {
  width: 16px;
  height: 16px;
}

.headerContacts {
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  list-style: none;
  padding-top: 30px;
}

.headerContacts li {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 12px;
}

.contactIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contactText {
  flex: 1;
  line-height: 1.4;
  font-size: 14px;
}

@media (max-width: 765px) {
  .headerLogo img {
    max-width: 182px;
    height: auto;
  }
  .headerTop {
  }
}

@media (max-width: 572px) {
  .headerLogo {
    padding-left: 41px;
  }
  .headerContacts {
    display: none;
  }
  .headerNav {
    margin-top: 0;
  }
  .headerNav ul {
    display: block;
    gap: 50px;
  }
  .headerNav ul li {
    padding: 0 82px 0 0;
    text-align: left;
  }
  .headerTop {
    height: 100%;
    align-items: center;
  }
}
