.titleWrapper h1 {
  text-align: center;
  font-size: var(--font-size-small);
  font-family: var(--Inter);
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #160c20;
  margin-bottom: 16px;
}
.logoMobile {
  display: none;
  max-width: 184px;
}
.titleWrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 572px) {
  .logoMobile {
    display: flex;
  }
  .titleWrapper h1 {
    max-width: 300px;
  }
  .titleWrapper {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
}
