.effectSection {
  max-width: 1200px;
  margin: 0 auto;
}
.description {
  font-weight: var(--font-weight-main);
}

.descriptionWrapper .description:nth-of-type(1) {
  font-family: var(--Inter);
  max-width: 579px;
  font-weight: var(--font-weight-secondary);
  font-size: var(--font-size-small);
  color: #000;
  margin-left: 33px;
}

.descriptionWrapper .description:nth-of-type(2) {
  font-family: var(--Inter);
  max-width: 705px;
  font-size: var(--font-size-small);
  color: #000;
}

.descriptionWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 141px 0 91px 0;
}
.line {
  width: 1px;
  height: 274px;
  background-color: #000;
}

.effectSection h2 {
  font-weight: 700;
  font-family: var(--Inter);
  font-size: var(--font-size-main);
  color: #000;
  margin-left: 146px;
  text-align: left;
}
.imageWrapper {
  display: flex;
  align-items: center;
  max-width: 459px;
  margin-bottom: 76px;
}
.imageWrapper img {
  max-width: 574px;
  max-height: 383px;
}
.effectSection img {
  max-height: 682px;
}
.description strong > ul {
  list-style: none;
}
.description strong > ul > li {
  margin-top: 20px;
}
@media (max-width: 765px) {
  .firstTitle {
    padding: 0 0 60px 148px;
  }
  .line {
    display: none;
  }
  .descriptionWrapper p:nth-of-type(1) {
    max-width: 579px;
  }

  .descriptionWrapper p:nth-of-type(2) {
    max-width: 233px;
  }

  .imageWrapper img {
    max-width: 414px;
  }
  .effectSection h2 {
    margin-left: 30px;
  }
}
@media (max-width: 576px) {
  .imageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .effectSection h2 {
    margin-left: 0;
    text-align: left;
    max-width: 343px;
    margin-top: 81px;
  }
  .effectSection > img {
    max-height: 576px;
    height: 324px;
    object-fit: cover;
  }
}
