.aboutUsSection {
  background: rgba(82, 110, 137, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoWrapper {
  height: auto;
  display: flex;
}
.line {
  width: 100%;
  max-width: 720px;
  border-bottom: 2px solid black;
  margin: 80px 0 115px 0;
}

.logo {
  max-width: 226px;
  height: auto;
  margin: 20px 0;
}

.contentWrapper {
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
}
.textBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 68px;
}

.textBottom {
  font-family: var(--Inter);
  margin-top: 40px;
  max-width: 636px;
  font-weight: 400;
  font-size: var(--font-size-small);
  letter-spacing: 0.1em;
  color: #120922;
}
.firstTitleMobile {
  display: none;
}

@media (max-width: 765px) {
  .logoDesktop {
    max-width: 134px;
  }
  .contentWrapper {
    align-items: flex-start;
  }
  .textBlock {
    margin-left: 0;
  }
  .textBlock p {
    max-width: 540px;
  }
  .line {
    max-width: 539px;
    margin: 40px 0 40px 0;
  }
}

@media (max-width: 573px) {
  .logoDesktop {
    display: none;
  }
  .line {
    max-width: 392px;
  }
  .textBottom {
    max-width: 438px;
  }
  .firstTitleMobile {
    display: flex;
    position: relative;
    font-family: var(--Inter);
    font-weight: 400;
    font-size: clamp(10px, 5vw, font-size: var(--font-size-xs));
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    z-index: 1;
  }
  .firstTitleMobile::after {
    bottom: -24px;
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #1d2a3b;
  }
  .contentWrapper {
    margin: 10px;
  }
  .textBottom {
    margin-left: 30px;
  }
}
