.textWrapper ul {
  font-family: var(--Inter);
  font-weight: var(--font-weight-secondary);
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #160c20;
}

.textWrapper p {
  text-align: center;
  max-width: 625px;
  font-family: var(--Inter);
  margin-bottom: 24px;
  font-weight: var(--font-weight-secondary);
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #160c20;
}
.textWrapper h2 {
  margin: 30px 0 50px 0;
  font-weight: var(--font-weight-secondary);
  font-size: var(--font-size-small);
  letter-spacing: 0.1em;
  text-align: center;
  font-family: var(--Inter);
  color: #160c20;
}

.textWrapper ul {
  padding-left: 27px;
}
