.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

ul {
  list-style-type: disc;
  padding-left: 40px; /* чтобы отступ от точки до текста был ~20px */
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}
